@model WebApplication4.Models.ContactInfo

<h2>Contact Details</h2>

@if (Model != null)
{
    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>Contact Id</th>
            <td>@Model.ContactId</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>@Model.CompanyName</td>
        </tr>
        <tr>
            <th>Email Id</th>
            <td>@Model.EmailId</td>
        </tr>
        <tr>
            <th>Mobile No</th>
            <td>@Model.MobileNo</td>
        </tr>
        <tr>
            <th>Designation</th>
            <td>@Model.Designation</td>
        </tr>
    </table>
}
else
{
    <p>Contact not found.</p>
}

<p>
    <a asp-action="ShowContacts">Back to List</a>
</p>
