@model List<WebApplication2.Models.Product>

<h2>Product List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Pid</td>
                <td>@item.Pname</td>
                <td>@item.Price</td>
                <td>@item.Qty</td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.Pid">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>