@using WebApplication2.Models
@model List<Product>

<h1 class="display-5">Product Controller - Index</h1>

<a class="btn btn-primary" asp-action="Create">Create New</a>
<hr />

<table border="1" cellpadding="10" cellspacing="0" class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Category</td>
                <td>
                    <a asp-controller="Product"
                       asp-action="Details"
                       asp-route-id="@item.ProductId">Details</a> |

                    <a asp-controller="Product"
                       asp-action="Edit"
                       asp-route-id="@item.ProductId">Edit</a> |

                    <a asp-controller="Product"
                       asp-action="Delete"
                       asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>